<h2>What is <b>SpotShare</b>?</h2>

<p>
  SpotShare is a web app that allows users to curate playlists and share with the world! Using the Spotify API
  , users can select songs from Spotify and feature them in their playlists. They are then displayed with a 30 second preview
  and open for anyone to see. Other users can leave comments as well as follow your playlists! The features are listed below:
  </ul>
    <li>Account Session Management</li>
    <li>Profile Pictures</li>
    <li>Create / Edit / Delete Playlist</li>
    <li>Follow / Unfollow Playlist</li>
    <li>Create / Edit / Delete Profile</li>
    <li>Add / Edit / Delete Comments</li>
    <li>Add / Remove Songs</li>
    <li>Song Information (Artist, Album, Duration, etc)</li>
    <li>Spotify Preview</li>
  </ul>
</p>



<hr></hr>
<footer>
Made by <b>Yuyang W.</b> | 2020.
</footer>