<h2>What is Penn InTouch?</h2>
<p>Penn InTouch gives you secure access to your student information online.</p>
<p>
  Penn InTouch is the University's student gateway to academic, financial and profile information, including:
  </ul>
    <li>Online registration and schedule planning tools</li>
    <li>Academic records and transcript orders</li>
    <li>Student billing and payment information</li>
    <li>Financial aid application status and awards</li>
    <li>Student loan application status, disbursements and loan history</li>
    <li>Student employment/work-study information and job listings</li>
    <li>Updating your emergency contacts and address information</li>
    <li>Privacy settings for release of academic and financial information to parents and others</li>
    <li>Direct Deposit enrollment for student refunds and work-study payroll</li>
  </ul>
</p>


<h2>How do I access Penn InTouch?</h2>
<p>To access Penn InTouch, log in by clicking the appropriate link below:</p>
<ul>
  <li><a href="/login">Log in</a></li>
  <li><a href="/users/new">Sign up</a></li>
</ul>
<p>Students who graduated or separated prior to May 1988 need to send a written request for services to:</p>
<blockquote>
  The University of Pennsylvania<br/>
  University Registrar's Office<br/>
  Room 221 Franklin Building<br/>
  3451 Walnut Street<br/>
  Philadelphia, PA. 19104-6291<br/>
</blockquote>

<h2>When is Penn InTouch Available?</h2>
<p>Penn InTouch is normally available 24/7 except to allow for system maintenance between 3:00 AM and 6:00 AM on Mondays. In addition, some functions within Penn InTouch may be unavailable for brief periods during the evenings while we update student data.</p>

<hr></hr>
<footer>
Text adapted from <a href="https://portal.apps.upenn.edu/penn_portal/intouch/splash.html"><i>PennInTouch</i></a> &nbsp;&nbsp; | &nbsp;&nbsp; Made with <span style="color:rgba(246, 124, 131, 1)">♥</span> in Philly.
</footer>