<h1>Editing User</h1>

<%= render 'form', user: @user %>

<a><%= link_to 'Back', @user, class: "card-link" %><span style="color: #ffffff"> |</span></a>
<a><%= link_to 'All Users', users_path, class: "card-link" %></a>
