<h1>Editing Playlist</h1>

<%= render 'form', playlist: @playlist %>

<a><%= link_to 'Back', @playlist, class: "card-link" %><span style="color: #ffffff"> |</span></a>
<a><%= link_to 'All Playlists', playlists_path, class: "card-link" %></a>
